#menu li:nth-child(1) {
  color: #333; /* Texto escuro */
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#menu li:nth-child(1):hover {
  background-color: #4682b4; /* Azul escuro no hover */
  color: chartreuse;
}

#menu a {
  text-decoration: none;
  color: chartreuse;
}
