* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}


.projeto {
    width: 100%; 
    margin: 10px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*layout para telas maiores */
@media screen and (min-width: 768px) {
    .projeto {
        width: 45%;  /* Em tablets e dispositivos com tela maior */
    }
}

@media screen and (min-width: 1024px) {
    .projeto {
        width: 30%;  /* Em telas grandes (como desktops)*/
    }
}

/*responsividade ao texto */
h1, h2, h3 {
    font-size: 2em;
}

@media screen and (max-width: 768px) {
    h1, h2, h3 {
        font-size: 1.5em;  /* Tamanho menor de fonte em dispositivos móveis */
    }
}

/*imagem do projeto responsiva */
.projeto img {
    width: 100%;  /* Garante que a imagem ocupe 100% da largura disponível */
    border-radius: 8px;
}

/*tela for menor que 480px */
@media screen and (max-width: 480px) {
    .projeto {
        width: 100%;  /* Para telas muito pequenas (celulares)*/
    }
}
