/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 2rem;
}

/* Transição somente nos títulos com IDs */
#habilidades h2,
#projetos h2,
#contato h1 {
    transition: transform 0.5s ease, color 0.3s ease;
    cursor: pointer;
}

/* Efeito ao passar o mouse */
#habilidades h2:hover,
#projetos h2:hover,
#contato h1:hover {
    transform: scale(1.1) translateY(-10px);
    color: #ff5722;
}

.text {
    font-size: 4rem;
    color: rgb(115, 16, 16);
    display: flex;
    gap: 1rem;
}
.letra {
    transition: transform 0.5s, opacity 0.3s; /* Correção na sintaxe */
    cursor: pointer;
}
.letra:hover {
    transform: translate3d(30px, -30px, 20px) rotateZ(360deg);
    opacity: 0.5; /* Ajustado para ser um valor válido */
}